* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

body {
    color: #9b9b9b;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.8;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

/* Layout */
.info-list {
    background-color: #f2f3f5;
    margin: 30px auto;
    padding: 25px;
    width: 650px;
}

.info-list li {
    border-bottom: 1px dashed #f44336;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.info-list li:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.info-list li .image {
    float: left;
    width: 100px;
}

.info-list li .image img {
    border-radius: 6px;
}

.info-list li .detail {
    float: right;
    padding-top: 3px;
    width: 520px;
}

.info-list li .detail h3 {
    color: #1f1f1f;
    margin-bottom: 6px;
    font-size: 18px;
}