* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

body {
    color: #383838;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.clearfix {
    zoom: 1;
}

.clearfix::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.examples {
    margin: 30px auto;
    width: 940px;
}

.examples h2 {
    font-size: 26px;
    margin-bottom: 30px;
    position: relative;
    text-align: center;
}

.examples h2 span {
    background-color: #fff;
    padding: 0 20px;
    position: relative;
    z-index: 1;
}

.examples h2:after {
    background-color: #e1e0e0;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    top: 20px;
    width: 100%;
}

.examples .example-list li {
    float: left;
    margin-right: 26px;
    width: 215px;
    /*chiều rộng tấm hình*/
}

.examples .example-list li:nth-child(4n) {
    margin-right: 0;
}